# Python Programming for Machine learning

## Code In AI - Python programming basic

### Markdown

Convert the following cell to markdown and run

# Hello World
1. Code
```
print("Hello World!")
```

### Variables in Cells

Variables in the Python notebooks are carried over through the notebook
Type the following codes into separate cells and run them one by one, from top to bottom.

### Multiple Assignment

A single value can be assigned to many variables at the same time

In [ ]:
a = b = c = 1

In [ ]:
print(a,b,c)

Multiple values can be assigned to multiple objects. 
Several statments can be put in the same line by ending each statement with semicolon.

In [ ]:
a,b,c = 1,2,"xyz"; print(a,b,c)

Objects can be deleted using del.
The execution will stop when the first error is encountered.

In [ ]:
del a, b
print(a, b)

## Basic python data types (objects)

### Numbers
Python supports four types of numbers -- (long) int, float, complex

Number without floating point digits are treated as integers while those
with floating point digits are treated as float.

In [ ]:
x = 2
print('Type of x is ', type(x))
print(2**123)

In [ ]:
x = 10.
print('Type of x is ', type(x))

### Strings

String is a contiguous set of characters represented in the quotation marks.

In [ ]:
str = 'Hello world with single quote'
str2 = "Hello world with double quote"
print(str1); print(str2)

Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.
The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [ ]:
print(str[0]) # print first character

In [ ]:
print(str[2:5]) # print characters at indices 2,3,4

In [ ]:
print(str[2:]) # print characters at from indices 2

In [ ]:
print(str[:-2]) # print characters at starting indices 2 from the end.

In [ ]:
print(str*3) # Repeat the string three times

In [ ]:
print(str+" New hello !" + " xxx ") # Concatenate many strings

### List

A list contains elements separated by commas and enclosed within square brackets ([]). 
Items belonging to a list can be of different data type.
The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indices 
starting at 0 in the beginning of the list and working their way to end -1. 

Declare a list

In [ ]:
l1 = ['abcd', 786, 2.23, 'xyz']; print(l1)
l2 = [123, 'john']; print(l2)

In [ ]:
print(len(l1), len(l2)); # List size is obtained by using len()

In [ ]:
print(l1[0]) # print the 1st element in list 1

In [ ]:
print(l1[1:3]) # print the 2nd to 3th elements

In [ ]:
print(l1[2:]) # print elements starting from the 3rd

In [ ]:
l1[3] = 'www';  # Modified the value of the 4th element
print(l1)

In [ ]:
print(l2*2)  # Repeat the list twice

In [ ]:
print(l1+l2) # Concatenate two lists

### Tuple

A tuple is another sequence data type that is similar to the list. 
A tuple consists of a number of values separated by commas. 
Unlike lists, however, tuples are read-only lists. 
So, it can't be modified.

In [ ]:
t1 = ('abcd', 786, 2.23, 'xyz'); print(t1)
t2 = (123, 'john'); print(t2)

All operations in lists are applicable to tuples except the value modification.

In [ ]:
print(len(t1), len(t2))
print(t1[0]) 
print(t1[1:3])
print(t1[2:]) 
print(t2*2) 
print(t1+t2)

### Dictionaries

Python's dictionaries are kind of hash table type.
They work like associative arrays or hashes found in Perl and consist of key-value pairs. 
A dictionary key can be almost any Python type, but are usually numbers or strings. 
Values, on the other hand, can be any arbitrary Python object.
Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]).

Declare an empty dictionary and insert key/value pairs

In [ ]:
dct = {}
dct['one'] = 'This is one'
dct[2] = 'This is two'
print(dct)

Initialize a dictionary with key/value pairs

In [ ]:
tiny_dct = {'name':'john', 'code':6734, 'dept':'sales'}
print(tiny_dct)

In [ ]:
print(dct['one']) # print value of key 'one'
print(dct[2])     # print value of key 2
print(tiny_dct.keys()) # print all the keys
print(tiny_dct.values()) # print all the values

## Data Type Conversion

Python allows objects to be converted to other types.

In [ ]:
x = "Hello"
y = 123

In [ ]:
print(str(y)) # Convert y to string
print(float(y))  # Convert y to float
print(list(t1))  # Convert tuple to list
print(list(x))  # Convert string to a list of characters
print(tuple(l1)) # Convert list to tuple

Get an error 'object is not callable' because of the used of reserve word. Delete the previous defined variable to solve the conflict.

In [ ]:
del str

### Boolean

In [ ]:
p = True
q = False

print('type of p and q is %s' % type(p))

In [ ]:
print('True+True+True = %s' %(p + p + p))
print('False+False+False = %s' %(q + q + q))

### Comparison

In [ ]:
x = 10
y = 20
z = -10

print('x<y<=z is %s'%(x<y<=z))
print('x<y or y<=z is %s'%(x<y or y<=z))

### if statement

In [ ]:
x = 10
y = 5

if x > y:
    print("x is greater than y")

### if... else...

In [ ]:
y = 25
x = 10

if x > y:
    print("x is greater than y")
else:
    print("y is greater than x")

### elif

In [ ]:
x = 10
y = 10

if x > y:
    print("x is greater than y")
elif x == y:
    print("x and y are equal!")
else:
    print("y is greater than x")

### Creating for loop

In [ ]:
my_sequence  = list(range(0,101,10))

for number in my_sequence:
    print(number)

### List comprehension

In [ ]:
l1 = [1, 2, 3]
y = [x*2 for x in l1]
print(y)

### Continue keyword

In [ ]:
for number in my_sequence:
    if number < 80:
        continue # Skip numbers less than 80
    print(number)

### Break keyword

In [ ]:
for number in my_sequence:
    if number > 50:
        break # Break out of the loop if number > 50
    print(number)

### while loops

In [ ]:
x = 5
iters = 0

while iters < x:
    print("Study")
    iters = iters+1

### continue and break in while loops

In [ ]:
while True:
    print("Study")
    break

### Define functions

In [ ]:
def my_function(arg1, arg2):
    return arg1 + arg2

In [ ]:
my_function(5,10)

### Default argument

In [ ]:
def sum_3_items(x, y, z, print_args=False):
    if print_args:
        print(x,y,z)
    return x+y+z

In [ ]:
sum_3_items(5,10,20)

In [ ]:
sum_3_items(5,10,20,print_args=True)

### Multiple arguments

In [ ]:
def sum_many_args(*args):
    print(type(args))
    return (sum(args))

In [ ]:
sum_many_args(1,2,3,4,5)